div h1{
    display:flex;
    background-color: lightslategray;
    color:whitesmoke;
    position:relative;
    height:200px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height:normal;
   margin :0;
   padding-inline: 2px;
}
ul {
    display:flex;
    list-style-type: none;
    margin: 0 ;
    margin-left:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:red;
  }
  
  