<div style="display: flex;flex-wrap: wrap;justify-content: center;flex-direction: column;">
  <div class="bitcoin" [routerLink]="['/bitcoin']">
    <h1>Bitcoin</h1>
  </div>
  <div class="us" [routerLink]="['/us']">
      <h1>Business US</h1>
  </div>
  <div class="apple" [routerLink]="['/apple']">
      <h1>Apple</h1>
  </div>
  <div class="tech" [routerLink]="['/tech']">
      <h1>TechCrunch</h1>
  </div>
  <div class="wall" [routerLink]="['/wallstreet']">
    
      <h1>Wall Street Journal</h1>
    
  </div>
</div>
